# Données et modèles
*.npy
*.pt
*.pth
*.pkl
*.csv
*.pdf
*.png
*.jpg

# Google Colab
.ipynb_checkpoints/
*.ipynb

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Dossiers résultats
results/
checkpoints*/
data_finale*/
data_csv/
figures/

# OS
.DS_Store
Thumbs.db
